@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-slate-900 dark:text-gray-100 transition-colors duration-300;
}
/* --- SCROLLBAR PERSONALIZADA --- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* Cor do fundo escuro */
}

::-webkit-scrollbar-thumb {
  background: #334155; /* Cor cinza azulado */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1; /* Cor primária (Indigo) ao passar o mouse */
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}